.cart-items {
  flex: 1;
  margin-left: 30px;

  & > section {
    background-color: #f3f2f2;
    padding: 40px;
    border-radius: 6px 44px 6px 44px;
  }
}

.cart-items--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    width: 62.59px;
    height: 64px;
  }

  p {
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 700;
    color: #574f4d;
    margin: 0;
    white-space: nowrap;
  }
}

.cart-items--counter {
  width: 72px;
  height: 38px;
  background-color: #e6e5e5;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  button {
    background: none;
    border: none;
    color: #2ea80fc7;
    font-size: 20px;
    padding-bottom: 3px;
  }
  span {
    margin-bottom: 2px !important;
  }
}

.cart-items--removeButton {
  margin-left: 10px;
  height: 40px;
  border-radius: 6px;
  padding: 0px 8px 0px 8px;
  background-color: #e6e5e5 !important;
  display: flex;
  align-items: center;
  border: none;
  font-size: 12px;
  line-height: 19.2px;
  font-weight: 400;

  &:hover {
    outline: 2px solid #c1c1c1;
  }

  img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

.cart-items--divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.cart-items--prices {
  margin-top: 50px;

  section {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #574f4d;
    height: 30px;

    &:last-child {
      margin-top: 5px;
    }
  }

  span {
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 400;
  }

  p {
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 400;
  }

  h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #403937;
  }
}

.cart-items--submit {
  width: 100%;
  height: 46px;
  border-radius: 6px;
  padding: 12px 8px;
  background-color: #2ea80f;
  border: none;
  color: white;
  margin-top: 25px;
}

.cart-item {
  display: flex;
}

.cart-item--configs {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  span {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 20.8px;
    font-weight: 400;
  }

  div {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1200px) {
  .cart-items {
    margin-left: 0px !important;
  }
}
